[Desktop Entry]
Name=xfsamba
Name[pl]=xfsamba
Comment=Graphical SMB browser
Comment[pl]=Graficzny eksplorator zasobów udostępnianych poprzez SMB
Icon=
Exec=xfsamba
Terminal=0
Type=Application

# vi: encoding=utf-8
