[Desktop Entry]
Name=Xfsamba
Comment=Graphical SMB browser
Comment[pl]=Graficzny eksplorator zasobów udostępnianych poprzez SMB
Icon=xfsamba.png
Exec=xfsamba
Terminal=0
Type=Application
Categories=Network
# vi: encoding=utf-8
