[Desktop Entry]
Name=xfsamba
Name[pl]=xfsamba
Comment=Graphical SMB browser
Comment[pl]=Graficzny eksplorator zasobów udostêpnianych poprzez SMB
Icon=
Exec=xfsamba
Terminal=0
Type=Application

